* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: "wudooregular";
    src: url(../fonts/WudooMono-Regular.ttf);
}
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/mouse.css');
body{
    background-color: #fcf6eb;   
    /* background-image: radial-gradient(circle, #FFFFFF,#FAF1E2 ); */
} 
a{
    text-decoration: none;
    color: #FF7A40;
}
a:hover{
    text-decoration: underline;
    color: #545456;
    background-color: #FF7A40;
    border-radius: 5px;
    padding: 3px;
    transition: 1s;
    font-size: 1.1em;
}
.header {
    position: sticky;
    top: 0;
    z-index: 100; 
    font-family: "wudooregular";
}
.headerarea{
    position: sticky;
}
.headergrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 1rem;
    font-size: 18px;
    grid-template-areas:
    "DiegoLuna Currentwork Location Nav";
}
.headername{
    grid-area: DiegoLuna;
    text-decoration: none;
}
.headerrole{
    grid-area: Currentwork;
}
.headerlocation{
    grid-area: Location;
}
.headernav{
    grid-area: Nav;
    grid-column-start: 4;
    grid-column-end: 4;
    justify-self: end;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    font-family: "wudooregular";
    text-decoration: none;
}
.gridrol{
    font-family: "wudooregular";
    color: #545456;
    display: grid;
    margin: 4rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas:
    "rol rol rol . . ."
    "img img img img img img"
    "arrow text . name name name";
    align-content: start;
}
.contactgrid{
    font-family: "wudooregular";
    color: #545456;
    display: grid;
    margin: 4rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "img img img img img img"
    "mail mail mail mail mail";
    align-content: start;
}
.mail{
    grid-area: mail;
    font-size: 8rem;
    text-align:start;
    letter-spacing: 1rem;
    
}
.mailgif{
    grid-area: img;
    width: 15vw;
    filter: opacity(30%);
    filter: saturate(110%);
}
h3 span{
    transition: .5s linear;
}
h3:hover span:nth-child(1){
    margin-right: 5px;
}
h3:hover span:nth-child(2){
    margin-bottom: 30px;
}
h3:hover span{
    color: #FF7A40;
    text-shadow: 0 0 10px #ffffff
    0 0 20px #ffffff
    0 0 40px #ffffff;
    padding: 1em;
    transition: 500ms;
}
.title{
    grid-area: rol;
    font-size: 8rem;
    text-align:start;
    letter-spacing: 1rem;
}
.profileimg{
    grid-area: img;
    display: flex;
    position: relative;
    overflow: hidden;

}
.arrow{
    grid-area: arrow;
    justify-self: center;
    align-self:flex-end;
    text-align: center;
    font-size: 6rem;
}
.arrow:hover{
    transition: 0.7s linear;
    margin-bottom: 30px;
    color: #FF7A40;
    text-shadow: 0 0 10px #ffffff
    0 0 20px #ffffff
    0 0 40px #ffffff;

}
.description{
    grid-area: text;
    font-size: 1.3rem;
    justify-self: center;
    align-self: flex-end;
    text-align:start;
    letter-spacing: 0.5rem;
}
.heroname{
    grid-area: name;
    font-size: 8rem;
    text-align: end;
    letter-spacing: 1rem;
}
 
.code1{
    width: 65vh;
    
}


.profileimg:hover{
    transition: 1s;
}


h2 span{
    transition: .5s linear;
}
h2:hover span:nth-child(1){
    margin-right: 5px;
}
h2:hover span:nth-child(2){
    margin-bottom: 30px;
}
h2:hover span{
    color: #FF7A40;
    text-shadow: 0 0 10px #ffffff
    0 0 20px #ffffff
    0 0 40px #ffffff;
    padding: 1em;
    transition: 500ms;
}

.description:hover span{
    color: #FF7A40;
    text-shadow: 0 0 10px #ffffff
    0 0 20px #ffffff
    0 0 40px #ffffff; 
    padding: 1em;
    transition: 500ms;
}
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.iconmouse{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.box{
    display: flex;
    /* overflow: hidden; */
    /* padding: 600px; */
}

.box li{
    list-style: none;
    transition: all 2s;
    letter-spacing: 10px;
    font-size: 75px;
    font-family: "wudooregular";
}

.box:hover li{
    transform: rotate(55deg) translateY(-300px);
    opacity: 0;
    filter: blur(30px);
} 
li:nth-child(1){
    transition-delay: 0;
}
li:nth-child(2){
    transition-delay: 0.3s;
}
li:nth-child(3){
    transition-delay: 0.6s;
}
li:nth-child(4){
    transition-delay: 0.9s;
}
li:nth-child(5){
    transition-delay: 1.1s;
}
li:nth-child(6){
    transition-delay: 1.4s;
}
li:nth-child(7){
    transition-delay: 1.7s;
}
.skillssection{
    display: inline-block;
    /* position: fixed; */
    bottom: 0;
}

.skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* flex-wrap: nowrap; */
    gap: 0.5rem;    
}

.skillimg{
    width: 3%; 
    filter: saturate(65%);
    transition: transform 500ms;
}
.skillimg:hover{
    filter: saturate(100%);
    transform: scale(1.6) translateY(-50px);
    transition: 500ms;
    gap: 8px;
}
/* adjacent sibling combinator o algo asi */
.skillimg:hover + .skillimg {
    transform: scale(1.2) translateY(-15px); 
}
.skillimg:has(+ .skillimg:hover){
    transform: scale(1.2) translateY(-15px); 

}

